{% extends 'base.html' %} {% load bootstrap %} {% block content %}
<div  class="section  columns">
    <div class="column is-4 ">
        <div class="container">
            <h2 class="title">
                <a href="{% url 'home' %}"> Kapsula </a> - {{ projeto.nome }}
            </h2>
            <h3 class="subtitle">
                {{ projeto.descricao }}
            </h3>
            <div>
                <div class="columns ">
                    <span class="tag column is-1 is-success">
                        <i class="fas  fa-clock"></i>&nbsp {{projeto.tempo_estimado}}/{{projeto.un_tempo}}</span>
                    <span class="tag column is-1 is-success">
                        <i class="fas fa-money-bill-wave "></i>&nbsp R$: {{projeto.orcamento}}</span>
                </div>
                <div class="columns">
                    <span class="tag column is-1 is-info">
                        <i class="fas fa-clock"></i>&nbsp {{projeto.tempo_atual}}/{{projeto.un_tempo}}</span>
                    <span class="tag column is-1 is-info">
                        <i class="fas fa-money-bill-wave "></i>&nbsp R$: {{projeto.custo_atual}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-6 ">


        <div class="container">
            <a class="button is-primary ">SubProdutos</a>
            <a class="button is-primary ">Configurações</a>
            <a class="button is-primary " href="{% url 'projetos' usuario_id=projeto.proprietario.id %}">Projetos</a>
        </div>


    </div>
    <div class="column is-2">
        <div class="container">
            <strong>{{ projeto.proprietario.nome }}</strong>
            <p>{{ projeto.proprietario.capsula_ativa.nome }}</p>
            <p>{{ projeto.proprietario.capsula_ativa.tempo_gasto }}</p>
        </div>
    </div>
</div>
<div class="section box columns is-full-height">
    <div class="column is-10 ">
        <div class="container columns">
            {% for subproduto in projeto.subprodutos.all %}
            <div class="column is-3 ">
                
                    <a class="button is-small is-danger" href="{% url 'delete-subproduto' subproduto_id=subproduto.id %}"></a>&nbsp
           
               
                    <b>{{ subproduto.nome }}</b>
                    <p>{{ subproduto.descricao }}</p>
  
                {% for capsula in subproduto.capsulas.all %}
                <div class="box column">
                    <div class="columns">
                        <div class="column is-1">
                            <a class="button is-small is-info" href="{% url 'change-status' capsula_id=capsula.id %}"></a>&nbsp
                        </div>

                        <div class="column is-1">
                            {% if capsula.status %}
                            <i class="fas  fa-clock"></i>
                            {% endif %}
                        </div>
                        <div class="column is-7 ">
                            <strong>{{ capsula.nome }}</strong>
                            <p>{{ capsula.descricao }}</p>
                            <p>{{ capsula.tempo_estimado }}</p>
                        </div>
                        <div class="column is-1">
                            <a class="button is-small is-danger" href="{% url 'delete-capsula' capsula_id=capsula.id %}"></a>&nbsp
                        </div>
                    </div>
                    {% for recurso in projeto.recursos.all %}
                    <div class="content">
                        <ul>
                            <li>{{ recurso.nome }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="column">
                    <a class="button is-primary is-outlined is-fullwidth newkpsule" data-toggle="modal" data-target="#kpsuleModal">
                        Nova Capsula
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="button is-primary is-fullwidth newSubProduto" data-toggle="modal" data-target="#modal_subproduto">
            Novo SubProduto
        </a>
    </div>
    <div class="column box is-2">
        <div class="column is-2">
            <b>Recursos</b>
        </div>
        <div class="container columns">
            <div class="column is-2">
                {% for recurso in projeto.recursos.all %}
                <div class="box column">
                    <div class="box columns">
                        <div class="column is-1">
                            <a class="button is-small is-danger" href="{% url 'delete-recurso' recurso_id=recurso.id %}"></a>&nbsp
                        </div>
                        <div class="column">
                            <p>{{ recurso.nome }}</p>
                            <p>{{ recurso.descricao }}</p>
                            <p>{{ recurso.custo }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <div class="column ">
                    <a class="button is-primary is-outlined is-fullwidth newrecurso" data-toggle="modal" data-target="#recursoModal">
                        Novo recurso
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal" id="recursoModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Novo Recurso</p>
            <button class="delete fechar-recurso" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" action="{% url 'novo_recurso'%}">
                {% csrf_token %} {{recurso_form|bootstrap}}

                <footer class="modal-card-foot">
                    <button class="button is-success">Save changes</button>
                    <button class="button fechar-recurso">Cancel</button>
                </footer>
            </form>
        </section>
    </div>
</div>

<div class="modal" id="kpsuleModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Nova Kpsule</p>
            <button class="delete fechar-kpsule" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" action="{% url 'novo_kpsule'%}">
                {% csrf_token %} {{kpsule_form|bootstrap}}

                <footer class="modal-card-foot">
                    <button class="button is-success">Save changes</button>
                    <button class="button fechar-kpsule">Cancel</button>
                </footer>
            </form>
        </section>
    </div>
</div>

<div class="modal" id="subProdutoModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Novo SubProduto</p>
            <button class="delete fechar-subProduto" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="{% url 'novo_subproduto' %}" method="post">
                {% csrf_token %} {{subproduto_form|bootstrap}}
                <footer class="modal-card-foot">
                    <button class="button is-success">Save changes</button>
                    <button class="button fechar-subProduto">Cancel</button>
                </footer>
            </form>
        </section>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>


<script type="text/javascript">    
    $('.newkpsule').on("click", function () {
        $('#kpsuleModal').addClass('is-active');
    });
    $('.newrecurso').on("click", function () {
        $('#recursoModal').addClass('is-active');
    });
    $('.newSubProduto').on("click", function () {
        $('#subProdutoModal').addClass('is-active');
    });
    $('.fechar-kpsule').on("click", function () {
        $('#kpsuleModal').removeClass('is-active');
    });
    $('.fechar-recurso').on("click", function () {
        $('#recursoModal').removeClass('is-active');
    });
    $('.fechar-subProduto').on("click", function () {
        $('#subProdutoModal').removeClass('is-active');
    });
</script> {% endblock %}