{% extends 'base.html' %} {% load bootstrap %} {% block content %}
<div class="section  columns">
    <div class="column is-4 ">
        <div class="container">
            <h2 class="title">
                <a href="{% url 'home' %}"> Kapsula </a> - {{ projeto.nome }}
            </h2>
            <h3 class="subtitle">
                {{ projeto.descricao }}
            </h3>
            <div>
                <div class="columns ">
                    <span class="tag column is-1 is-success">
                        <i class="fas  fa-clock"></i>&nbsp {{projeto.tempo_estimado}}/{{projeto.un_tempo}}</span>
                    <span class="tag column is-1 is-success">
                        <i class="fas fa-money-bill-wave "></i>&nbsp R$: {{projeto.orcamento}}</span>
                </div>
                <div class="columns">
                    <span class="tag column is-1 is-info">
                        <i class="fas fa-clock"></i>&nbsp {{projeto.tempo_atual}}/{{projeto.un_tempo}}</span>
                    <span class="tag column is-1 is-info">
                        <i class="fas fa-money-bill-wave "></i>&nbsp R$: {{projeto.custo_atual}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-6 ">


        <div class="container">
            <a class="button is-primary is-inverted">SubProdutos</a>
            <a class="button is-primary is-inverted">Configurações</a>
            <a class="button is-primary is-inverted" href="{% url 'projetos' usuario_id=projeto.proprietario.id %}">Projetos</a>
        </div>


    </div>
    <div class="column box is-2">
        <div class="container">
            <h3 class="subtitle">{{ projeto.proprietario.nome }}</h3>
            <h3 class="subtitle">{{ projeto.proprietario.capsula_ativa.nome }}</h3>
            <h3 class="subtitle">{{ projeto.proprietario.capsula_ativa.tempo_gasto }}</h3>
            <p>
                <i class="fas  fa-clock"></i>&nbsp {{projeto.tempo_atual}}/{{projeto.un_tempo}}</p>
        </div>
    </div>
</div>
<div class="section box columns is-full-height">
    <div class="column is-10 ">
        <div class="container columns">
            {% for subproduto in projeto.subprodutos.all %}
            <div class="column is-3 ">
                <div class="column">
                    <b>{{ subproduto.nome }}</b>
                </div>
                {% for capsula in subproduto.capsulas.all %}
                <div class="box column">
                    <div class="columns">
                        <div class="column is-2">
                            <a class="button is-small is-info" href = "{% url 'change-status' capsula_id=capsula.id %}"></a>&nbsp
                            
                        </div>
                        <div class="column is-1">
                                {% if capsula.status %}
                                <i class="fas  fa-clock"></i>
                                {% endif %}
                            </div>
                        <div class="column is-7 ">
                            <p>{{ capsula.nome }}</p>
                        </div>
                    </div>
                    {% for recurso in projeto.recursos.all %}
                    <div class="content">
                        <ul>
                            <li>{{ recurso.nome }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="column">
                    <a class="button is-primary is-outlined is-fullwidth newkpsule" data-toggle="modal" data-target="#kpsuleModal">
                        Nova Capsula
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a data-toggle="modal" data-target="#modal_subproduto" href="{% url 'novo_subproduto' %}">
            <button class="button is-primary is-outlined is-fullwidth">
                Novo SubProduto
            </button>
        </a>
    </div>
    <div class="column box is-2">
        <div class="column is-2">
            <b>Recursos</b>
        </div>
        <div class="container columns">
            <div class="column is-2">
                {% for recurso in projeto.recursos.all %}
                <div class="box column">
                    <div class="box columns">
                        <p>{{ recurso.nome }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="column ">
                    <button class="button is-primary is-outlined is-fullwidth">
                        Novo recurso
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal" id="kpsuleModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete fechar" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" action="{% url 'novo_kpsule'%}">
                {% csrf_token %} {{kpsule_form|bootstrap}}
                <form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button fechar">Cancel</button>
        </footer>
    </div>
</div>

<script type="text/javascript">
    $('#modal_subproduto').on('show.bs.modal', function (event) {
        var modal = $(this)
        $.ajax({
            url: "{% url 'novo_subproduto' %}",
            context: document.body
        }).done(function (response) {
            modal.html(response);
        });
    })
    $('.newkpsule').on("click", function () {
        $('#kpsuleModal').addClass('is-active');
    });
    $('.fechar').on("click", function () {
        $('#kpsuleModal').removeClass('is-active');
    });
</script> {% endblock %}